.carousel {
    width: 81px;
    height: 536px;
    position: relative;
    margin: 16px 0;
}

.card {
    width: 79px;
    height: 79px;
    border: 1px solid #ebebeb;
    position: relative;
    display: flex;
}

.card img {
    max-width: 79px;
    max-height: 79px;
    display: block;
    margin: auto;
}

.notSelected {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #dc363d;
    transform: translateY(3px);
    transition: all 250ms ease-in-out;
}

.Selected {
    transform: translateY(0px);
}

.slideArrowArea {
    width: 81px;
    height: 25px;
    position: relative;
}

.slideArrow {
    background-image: url("../../../assets/arrow.svg");
    height: 25px;
    width: 25px;
    margin: auto;
}

.upsideDown {
    transform: rotateX(180deg);
}