.carousel {
    width: 81px;
    height: 536px;
    position: relative;
    margin: 16px 0;
}

.slideArrowArea {
    width: 81px;
    height: 25px;
    position: relative;
}

.slideArrow {
    background-image: url("../../../assets/arrow.svg");
    height: 25px;
    width: 25px;
    margin: auto;
    cursor: pointer;
}

.upsideDown {
    transform: rotateX(180deg);
}