.Tips {
    width: 1170px;
    margin: auto;
    position: relative;
}

.container {
    margin-top: 40px;
    position: relative;
    width: 100%;
    display: inline-flex;
}

@media only screen and (max-width: 1200px) {
    .Tips {
        width: 770px;
    }

    .container {
        margin-top: 20px;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 800px) {
    .Tips {
        width: 90%;
    }
}