.Basket {
    width: 185px;
    height: 155px;
    background-color: blue;
    position: absolute;
    top: -36px;
    right: 0;
    user-select: none;
}

.BasketMap {
    outline: none;
    cursor: pointer;
}

.background {
    position: absolute;
    top: 0;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

.content {
    margin-top: 61px;
    width: 100%;
    z-index: 10;
    position: relative;
    cursor: pointer;
}

.rank {
    margin-left: 18px;
    width: 35px;
    height: 45px;
    background-image: url("../../../assets//rank.png");
}