.Basket {
    width: 185px;
    height: 155px;
    background-color: blue;
    position: absolute;
    top: -36px;
    right: 0;
    user-select: none;
}

.BasketMap {
    outline: none;
    cursor: pointer;
}

.background {
    position: absolute;
    top: 0;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

.content {
    margin-top: 61px;
    width: 100%;
    z-index: 10;
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
}

.rank {
    margin-left: 18px;
    margin-right: 11px;
    width: 35px;
    height: 45px;
    background-image: url("../../../assets//rank.png");
    display: inline-block;
    vertical-align: top;
}

.BasketText {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    width: 121px;
}

.BasketTitle {
    height: 16px;
    margin-bottom: 5px;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12pt;
}

.BasketPrice {
    height: 16px;
}