.Basket {
    width: 185px;
    height: 155px;
    position: absolute;
    top: -36px;
    right: 0;
    user-select: none;
}

.BasketMap {
    cursor: pointer;
    outline: none;
}

.background {
    position: absolute;
    top: 0;
    font-size: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    transition: all 400ms ease-in-out;
    z-index: 10;
}

.hover {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.75));
}

.content {
    margin-top: 61px;
    width: 100%;
    z-index: 20;
    position: relative;
    display: inline-block;
    vertical-align: top;
    pointer-events: none;
}

.rank {
    margin-left: 18px;
    margin-right: 11px;
    width: 35px;
    height: 45px;
    background-image: url("../../../assets//rank.png");
    display: inline-block;
    vertical-align: top;
    position: relative;
}

.BasketText {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    width: 121px;
}

.BasketTitle {
    height: 16px;
    margin-bottom: 5px;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12pt;
}

.BasketPrice {
    height: 16px;
    font: 700 16px 'Ubuntu', sans-serif;
    word-break: break-all;
}

.BasketItems {
    line-height: 20px;
    text-align: center;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10.5px;
    color: #b62323;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: -10px;
    right: -10px;
}

@media only screen and (max-width: 800px) {
    .Basket {
        top: -76px;
        right: -65px;
        height: 131px;
    }
    
    .background {
        display: none;
    }

    .content {
        margin-top: 86px;
    }

    .rank {
        display: block;
        margin: 0 auto;
    }

    .BasketText {
        display: none;
    }

    .BasketItems {
        color: #2e2e2e;
    }
}