.TopMenu {
    z-index: 250 !important;
    height: 55px;
    width: 100%;
    background-color: #2e2e2e;
    display: inline-flex;
    position: fixed;
    top: 0;
    left: 0;
}

.bars {
    height: 100%;
    width: 55px;
    background-image: url("../../../assets/mobile/bars.svg");
}

.logo {
    position: absolute;
    height: 55px;
    left: 0; 
    right: 0;
    margin: auto;
    width: 55px;
    background-image: url("../../../assets/mobile/favicon.ico");
    background-size: contain;
}

.space {
    height: 55px;
    width: 100%;
}