@import url("https://use.typekit.net/vej1hjy.css");

.language {
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    height: 33px;
    border-right: 1px solid #d7d7d7;
}

.text {
    font-size: 10pt;
    margin-right: 10px;
}

.flag {
    height: 14px;
    margin-right: 10px;
}

.arrow {
    height: 12px;
    cursor: pointer;
    margin-right: 15px;
}