.language {
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    height: 33px;
    border-right: 1px solid #d7d7d7;
}

.text {
    font-size: 13px;
    margin-right: 9px;
}

.flag {
    height: 14px;
    margin-right: 9px;
    cursor: pointer;
}

.arrow {
    height: 12px;
    cursor: pointer;
    margin-right: 15px;
}

@media only screen and (max-width: 1200px) {
    .language {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 43px;
    }
}

@media only screen and (max-width: 800px) {
    .language {
        margin: 0 auto;
        border: none;
        display: flex;
    }

    .arrow {
        margin: 0;
    }
}