.header {
    width: 100%;
    height: 23px;
    display: inline-flex;
}

.icon {
    margin-right: 14px;
}

.title {
    height: 100%;
    line-height: 23px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}