.offCanvas {
    z-index: 500;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 350ms ease-in-out;
}

.opened {
    transform: translateX(0);
}

.close {
    position: sticky;
    top: 0;
    left: 0;
    height: 55px;
    width: 55px;
    background-image: url("../../../assets/mobile/cross.svg");
}