.offCanvas {
    z-index: 500;
    width: 75%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    background-color: #eeeeee;
    transform: translateX(-100%);
    transition: all 350ms ease-in-out;
}

.backDrop {
    z-index: 499;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    background-color: transparent;
    pointer-events: none;
    transition: all 350ms ease-in-out;
}

.visible {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

.opened {
    transform: translateX(0);
}

.close {
    position: absolute;
    top: 0;
    left: 0;
    height: 55px;
    width: 55px;
    background-image: url("../../../assets/mobile/cross.svg");
}