.offCanvas {
    z-index: 500;
    width: 75%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    background-color: #eeeeee;
    transform: translateX(-100%);
    transition: all 350ms ease-in-out;
}

.backDrop {
    z-index: 499;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    background-color: transparent;
    pointer-events: none;
    transition: all 350ms ease-in-out;
}

.visible {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

.opened {
    transform: translateX(0);
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
}

.search {
    margin: 5%;
    position: relative;
}

.search input {
    height: 50px;
    width: 80%;
    padding: 0 10%;
    font: 400 13px 'Ubuntu', sans-serif;
    border: none;
    outline: none;
}

.language {
    width: 90%;
    margin: 0 auto 5%;
}

.footer {
    width: 90%;
    margin: auto;
}

.contact {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    margin-bottom: 2.5%;
}

.contact img {
    margin-right: 10px;
}

.socials {
    display: inline-flex;
}

.social {
    height: 25px;
    width: 25px;
    cursor: pointer;
}