.offCanvas {
    z-index: 500;
    width: 75%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    background-color: #eeeeee;
    transform: translateX(-100%);
    transition: all 350ms ease-in-out;
}

.backDrop {
    z-index: 499;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    background-color: transparent;
    pointer-events: none;
    transition: all 350ms ease-in-out;
}

.visible {
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

.opened {
    transform: translateX(0);
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

.search {
    margin: 5%;
    position: relative;
}

.search input {
    height: 50px;
    width: 80%;
    padding: 0 10%;
    font: 400 13px 'Ubuntu', sans-serif;
    border: none;
    outline: none;
}

.language {
    width: 90%;
    margin: 0 auto 5%;
}

.account {
    margin: 0 auto 5%;
    width: 100%;
    max-height: 51px;
    overflow-y: hidden;
    position: relative;
    transition: all 500ms ease-in-out;
}

.accountOpen {
    max-height: 1000px;
}

.accountHeader {
    height: 50px;
    width: 90%;
    cursor: pointer;
    margin: 0 auto;
}

.accountHeaderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2e2e2e;
}

.accountTitle {
    line-height: 50px;
    height: 50px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.accountArrow {
    width: 25px;
    height: 25px;
    background-image: url("../../../assets/arrow.svg");
    transition: all 350ms ease-in-out;
}

.accountArrowRotate {
    transform: rotateX(180deg);
}

.accountSection {
    width: 90%;
    margin: 0 auto;
    line-height: 40px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #2e2e2e;
    cursor: pointer;
}

.accountSection:hover {
    color: #b62323;
}