.card {
    width: 79px;
    height: 79px;
    border: 1px solid #ebebeb;
    position: relative;
    display: flex;
    overflow: hidden;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.card:hover {
    border: 1px solid #dc363d;
}

.card img {
    max-width: 79px;
    max-height: 79px;
    display: block;
    margin: auto;
}

.borderless {
    border: 1px solid transparent !important;
    cursor: default !important;
}

.notSelected {
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #dc363d;
    transform: translateY(10px);
    transition: all 250ms ease-in-out;
}

.Selected {
    transform: translateY(0px);
}