.Product {
    width: 1170px;
    margin: auto;
    position: relative;
    margin-top: 29px;
}

.Carousel {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.leftSide {
    display: inline-block;
    vertical-align: top;
    width: 567px;
    position: relative;
    margin-right: 16px;
}

.rightSide {
    display: inline-block;
    vertical-align: top;
    width: 486px;
    position: relative;
    top: -7px;
}

.tags {
    height: 45px;
    margin-bottom: 20px;
}

.tag {
    position: relative;
    float: right;
    height: 21px;
}

.tagArrow {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #ce2e2a;
    display: inline-block;
    vertical-align: top;
}

.tagBody {
    background-color: #ce2e2a;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 9px;
    height: 20px;
    line-height: 20px;
}

.preview {
    position: relative;
    margin: auto;
    width: 512px;
    height: auto;
}

.title {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.desc a, .desc a:link, .desc a:visited, .desc a:active {
    text-decoration: none;
    color: #ce2e2a;
}

.desc a:hover {
    color: #000;
}

.color {
    margin-bottom: 20px;
}

.colorText {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.colorImgs {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin: auto;
    width: fit-content;
}

.specs {
    display: inline-flex;
    gap: 16px;
}

.spec {
    width: 235px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
}

.specText {
    margin-bottom: 10px;
}

.dropdown {
    width: 223px;
    height: 32px;
    padding-left: 10px;
    border: 1px solid #d7d7d7;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: #272626;
    outline: none;
    transition: all 250ms ease-in-out;
}

.dropdown:hover {
    border: 1px solid #dc363d;
}

.dropdown option {
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: #272626;
}