.Product {
    width: 1170px;
    margin: auto;
    position: relative;
    margin-top: 29px;
}

.Carousel {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.leftSide {
    display: inline-block;
    vertical-align: top;
    width: 567px;
    position: relative;
    margin-right: 16px;
}

.rightSide {
    display: inline-block;
    vertical-align: top;
    width: 486px;
    position: relative;
    top: -7px;
}

.tags {
    height: 45px;
    margin-bottom: 20px;
}

.tag {
    position: relative;
    float: right;
    height: 21px;
}

.tagArrow {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #ce2e2a;
    display: inline-block;
    vertical-align: top;
}

.tagBody {
    background-color: #ce2e2a;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 9px;
    height: 20px;
    line-height: 20px;
}

.preview {
    position: relative;
    margin: auto;
    width: 512px;
    height: auto;
}

.title {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.desc a, .desc a:link, .desc a:visited, .desc a:active {
    text-decoration: none;
    color: #ce2e2a;
}

.desc a:hover {
    color: #000;
}

.color {
    margin-bottom: 20px;
}

.colorText {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.colorImgs {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin: auto;
    width: fit-content;
}

.specs {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.spec {
    width: 235px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
}

.specText {
    margin-bottom: 10px;
}

.dropdown {
    width: 223px;
    height: 32px;
    padding-left: 10px;
    border: 1px solid #d7d7d7;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: #272626;
    outline: none;
    transition: all 250ms ease-in-out;
}

.dropdown:hover {
    border: 1px solid #dc363d;
}

.dropdown option {
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    font-weight: 600;
    color: #272626;
}

.shipping {
    width: 100%;
    display: inline-flex;
    gap: 16px;
    margin-bottom: 26px;
}

.availability {
    width: 235px;
    display: flex;
}

.availabilityIcon {
    margin-right: 12px;
    font-size: 0;
}

.availabilityStatus {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.availabilityDate {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
}

.shippingDetails {
    width: 235px;
}

.shippingDetailsText {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #b62323;
    cursor: pointer;
}

.shippingDetailsText:hover {
    color: #000;
}

.purchase {
    display: inline-flex;
    margin-bottom: 14px;
}

.price {
    width: 186px;
}

.priceOld {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #9d9c9c;
    text-decoration: line-through;
    font-size: 9px;
    margin-bottom: 8px;
}

.priceCurrent {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #2e2e2e;
    font-size: 25px;
}

.purchaseOptions {
    width: 300px;
    display: flex;
}

.purchaseAmount {
    width: 98px;
    height: 58px;
    border: 1px solid #d7d7d7;
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 16px;
}

.addSubtract {
    width: 30px;
    height: 100%;
    line-height: 58px;
    margin: auto;
    cursor: pointer;
    user-select: none;
}

.addSubtract:hover {
    background-color: #b62323;
    color: #fff;
}

.purchaseAmountText {
    width: 38px;
}

.addToBasket {
    height: 100%;
    line-height: 60px;
    text-align: center;
    width: 184px;
    background-image: url("../../assets/add-to-basket.png");
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transition: all 350ms ease-in-out;
}

.addToBasket:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.75));
}

.comparison {
    height: 35px;
    width: 100%;
    display: inline-flex;
}

.cheaper {
    display: flex;
}

.cheaperIcon {
    margin-right: 12px;
    font-size: 0;
}

.cheaperTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #202020;
    margin-bottom: 3px;
}

.cheaperPrice {
    float: left !important;
}

.compare {
    flex-grow: 5;
}

.compareText, .cheaperPrice {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #b62323;
    cursor: pointer;
}

.compareText:hover, .cheaperPrice:hover {
    color: #000;
}