.Product {
    width: 1170px;
    margin: auto;
    position: relative;
    margin-top: 29px;
}

.Carousel {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.leftSide {
    display: inline-block;
    vertical-align: top;
    width: 567px;
    position: relative;
    margin-right: 16px;
    border: 1px solid red;
}

.rightSide {
    display: inline-block;
    vertical-align: top;
    width: 484px;
}

.tags {
    height: 45px;
    margin-bottom: 20px;
}

.tag {
    position: relative;
    float: right;
}

.preview {
    position: relative;
    margin: auto;
    width: 512px;
    height: auto;
}

.title {
    height: 45px;
    margin-bottom: 20px;
}