.Product {
    width: 1170px;
    margin: auto;
    position: relative;
    margin-top: 29px;
    margin-bottom: 65px;
}

.Carousel {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.leftSide {
    display: inline-block;
    vertical-align: top;
    width: 567px;
    position: relative;
    margin-right: 16px;
}

.rightSide {
    display: inline-block;
    vertical-align: top;
    width: 486px;
    position: relative;
    top: -7px;
}

.tags {
    height: 45px;
    margin-bottom: 20px;
}

.tag {
    position: relative;
    float: right;
    height: 21px;
}

.tagArrow {
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-right:10px solid #ce2e2a;
    display: inline-block;
    vertical-align: top;
}

.tagBody {
    background-color: #ce2e2a;
    display: inline-block;
    vertical-align: top;
    color: #fff;
    font-size: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding-left: 5px;
    padding-right: 9px;
    height: 20px;
    line-height: 20px;
}

.preview {
    position: relative;
    margin: auto;
    width: 512px;
    height: 512px;
    display: flex;
}

.previewImg {
    margin: auto;
}

.title {
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
}

.desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.desc a, .desc a:link, .desc a:visited, .desc a:active {
    text-decoration: none;
    color: #ce2e2a;
}

.desc a:hover {
    color: #000;
}

.color {
    margin-bottom: 20px;
}

.colorText {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 10px;
}

.colorImgs {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin: auto;
    width: fit-content;
}

.specs {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.spec {
    width: 235px;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 500;
}

.specText {
    margin-bottom: 10px;
}

.dropdown {
    width: 223px;
    height: 32px;
    padding-left: 10px;
    border: 1px solid #d7d7d7;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: #272626;
    outline: none;
    transition: all 250ms ease-in-out;
}

.dropdown:hover {
    border: 1px solid #dc363d;
}

.dropdown option {
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 600;
    color: #272626;
}

.shipping {
    width: 100%;
    display: inline-flex;
    gap: 16px;
    margin-bottom: 26px;
}

.availability {
    width: 235px;
    display: flex;
}

.availabilityIcon {
    margin-right: 12px;
    font-size: 0;
}

.availabilityStatus {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.availabilityDate {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
}

.shippingDetails {
    width: 235px;
}

.shippingDetailsText {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #b62323;
    cursor: pointer;
}

.shippingDetailsText:hover {
    color: #000;
}

.purchase {
    display: inline-flex;
    margin-bottom: 14px;
}

.price {
    width: 186px;
}

.priceOld {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #9d9c9c;
    text-decoration: line-through;
    font-size: 9px;
    margin-bottom: 8px;
}

.priceCurrent {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #2e2e2e;
    font-size: 25px;
}

.purchaseOptions {
    width: 300px;
    display: flex;
}

.purchaseAmount {
    width: 98px;
    height: 58px;
    border: 1px solid #d7d7d7;
    display: inline-flex;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-right: 16px;
}

.addSubtract {
    width: 30px;
    height: 100%;
    line-height: 58px;
    margin: auto;
    cursor: pointer;
    user-select: none;
}

.addSubtract:hover {
    background-color: #b62323;
    color: #fff;
}

.purchaseAmountText {
    width: 38px;
}

.addToBasket {
    height: 100%;
    line-height: 60px;
    text-align: center;
    width: 184px;
    background-image: url("../../assets/add-to-basket.png");
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    user-select: none;
    transition: all 350ms ease-in-out;
}

.addToBasket:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.75));
}

.comparison {
    height: 35px;
    width: 100%;
    display: inline-flex;
    margin-bottom: 20px;
}

.cheaper {
    display: flex;
}

.cheaperIcon {
    margin-right: 12px;
    font-size: 0;
}

.cheaperTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #202020;
    margin-bottom: 3px;
}

.cheaperPrice {
    float: left !important;
}

.compare {
    flex-grow: 5;
}

.compareText, .cheaperPrice {
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    font-weight: 600;
    color: #b62323;
    cursor: pointer;
}

.compareText:hover, .cheaperPrice:hover {
    color: #000;
}

.features {
    width: calc(100% - 2px);
    height: 129px;
    border: 1px solid #d7d7d7;
    position: relative;
}

.featuresArrow {
    position: absolute;
    top: -12px;
    right: 20px;
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #d7d7d7;
    border-left: 12px solid transparent;
}

.featuresArrowCover {
    top: -11px;
    right: 20px;
    border-bottom: 12px solid #fff;
}

.featuresContent {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: inline-flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    gap: 25px 20px;
}

.feature {
    display: flex;
    width: calc(50% - 10px);
    height: 32px;
}

.featureIcon {
    display: flex;
    align-items: center;
    margin-right: 12px;
    user-select: none;
}

.featureTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 700;
}

.featureDesc {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 400;
}

.featureDescLink {
    color: #b62323;
    cursor: pointer;
}

.featureDescLink:hover {
    color: #000;
}

@media only screen and (max-width: 1200px) {
    .Product {
        width: 770px;
        margin-bottom: 50px;
    }

    .leftSide {
        width: 669px;
        margin-right: 0;
    }

    .rightSide {
        margin-top: 50px;
        width: 770px;
    }

    .color {
        width: fit-content;
        margin: auto;
        margin-bottom: 16px;
    }

    .specs {
        display: block;
        gap: 0;
    }

    .spec {
        display: inline-flex;
        width: 370px;
        justify-content: space-between;
    }

    .spec:first-child {
        margin-right: 30px;
    }

    .specText {
        margin-bottom: 0;
        line-height: 34px;
    }

    .shipping {
        justify-content: space-between;
        gap: 0;
        margin-bottom: 16px;
    }

    .purchase {
        width: 60%;
        vertical-align: top;
        margin-bottom: 16px;
    }

    .price {
        width: fit-content;
        margin-right: 16px;
    }

    .comparison {
        width: 40%;
        height: 60px;
        margin-bottom: 16px;
    }

    .cheaper {
        align-items: center;
    }

    .compareText {
        direction: rtl;
    }
}

@media only screen and (max-width: 800px) {
    .Product {
        width: 100%;
        margin-top: 16px;
    }

    .Carousel {
        margin-right: 0;
        display: block;
    }

    .leftSide {
        width: calc(100% - 10vw);
        display: block;
        margin: 0 auto 16px;
    }

    .tags {
        margin: 16px 0;
        height: 21px;
    }

    .preview {
        max-width: 100%;
        width: auto;
        height: auto;
        margin: 0;
    }

    .previewImg {
        max-width: 100%;
        height: auto;
    }

    .rightSide {
        width: calc(100% - 10vw);
        margin: 0 auto;
        display: block;
    }

    .colorImgs {
        justify-content: center;
    }

    .specs {
        display: inline-flex;
        gap: 0;
        width: 100%;
    }

    .spec {
        display: block;
        width: 100%;
        justify-content: unset;
        position: relative;
        margin: 0 auto;
    }

    .spec:first-child {
        margin-right: auto;
    }

    .specText {
        margin-bottom: 0;
        line-height: 34px;
    }

    .dropdown {
        width: calc(100% - 12px);
        height: 50px;
        font-size: 14px;
    }

    .dropdown option {
        font-size: 14px;
    }

    .availability {
        width: 50%;
    }

    .availabilityIcon {
        display: flex;
    }

    .availabilityIcon img {
        display: block;
        margin: auto;
    }

    .shippingDetails {
        width: 40%;
        direction: rtl;
    }
}