.Suggested {
    width: 1170px;
    margin: auto;
    position: relative;
    margin-bottom: 30px;
}

.content {
    width: 100%;
    display: inline-flex;
}

.item {
    cursor: pointer;
    padding: 0 40px;
    margin: 30px 0;
    display: flex;
    width: calc(400px - 80px);
    border-right: 1px solid #d7d7d7;
}

.item:hover .texts {
    color: #b62323;
}

.item:last-child {
    border: none;
}

.itemImg {
    margin-right: 32px;
    width: 128px;
    display: flex;
}

.itemImg img {
    margin: auto;
}

.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 160px;
    color: #272626;
}

.text {
    width: 100%;
    height: 50%;
    position: relative;
}

.name {
    position: absolute;
    bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.price {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

@media only screen and (max-width: 1200px) {
    .Suggested {
        width: 770px;
    }

    .content {
        overflow-x: auto;
    }

    .content::-webkit-scrollbar {
        width: 20px;
    }
      
    .content::-webkit-scrollbar-track {
        background-color: transparent;
    }
      
    .content::-webkit-scrollbar-thumb {
        background-color: #d6dee1;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }
      
    .content::-webkit-scrollbar-thumb:hover {
        background-color: #a8bbbf;
    }
}