.tip {
    width: 50%;
}

.content {
    display: flex;
    font-family: Arial;
    color: #333333;
}

.image {
    width: 241px;
    height: 202px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
}

.desc {
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 40px;
}