.tip {
    width: 50%;
}

.content {
    display: flex;
    font-family: Arial;
    color: #333333;
}

.image {
    width: 241px;
    height: 202px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    width: fit-content;
}

.title:hover {
    color: #b62323;
}

.desc {
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 40px;
}

@media only screen and (max-width: 1200px) {
    .tip {
        width: 100%;
        margin-bottom: 35px;
    }

    .tip:last-child {
        margin-bottom: 0;
    }

    .title {
        margin-bottom: 10px;
    }

    .desc {
        padding: 0 15px 0;
    }
}

@media only screen and (max-width: 800px) {
    .content {
        display: block;
    }

    .image {
        float: left;
        max-width: 50%;
        height: auto;
        font-size: 0;
        margin-right: 16px;
    }

    .image img {
        max-width: 100%;
    }

    .desc {
        padding: 0;
        font-size: 16px;
        line-height: 20px;
    }
}