
.dropdown {
    margin: 0 auto 10%;
    width: 100%;
    max-height: 51px;
    overflow-y: hidden;
    position: relative;
    transition: all 500ms ease-in-out;
}

.dropdownOpen {
    max-height: 1000px;
}

.dropdownHeader {
    height: 51px;
    width: 90%;
    cursor: pointer;
    margin: 0 auto;
}

.dropdownHeaderContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2e2e2e;
}

.dropdownTitle {
    line-height: 50px;
    height: 50px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.dropdownArrow {
    width: 25px;
    height: 25px;
    background-image: url("../../../assets/arrow.svg");
    transition: all 350ms ease-in-out;
}

.dropdownArrowRotate {
    transform: rotateX(180deg);
}

.dropdownSection {
    width: 90%;
    margin: 0 auto;
    line-height: 40px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    border-bottom: 1px solid #2e2e2e;
    cursor: pointer;
}

.dropdownSection:hover {
    color: #b62323;
}