.Description {
    width: 1170px;
    margin: auto;
    position: relative;
    margin-bottom: 90px;
}

.container {
    display: inline-flex;
    margin-top: 30px;
}

.leftSide {
    width: calc(1170px - 385px);
    margin-right: 100px;
}

.desc {
    color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 25px;
    margin-bottom: 50px;
}

.FAQTitle {
    color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.accordion {
    margin-bottom: 16px;
}

.help {
    height: 42px;
    line-height: 42px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.helpText {
    color: #2e2e2e;
    font-size: 16px;
    margin-right: 14px;
}

.helpButton {
    width: 218px;
    height: 100%;
    background-image: url("../../assets/helpButton.png");
    font-size: 13px;
    text-align: center;
    color: #fff;
    user-select: none;
    cursor: pointer;
    transition: all 350ms ease-in-out;
}

.helpButton:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.75));
}

.rightSide {
    width: 285px;
}

.serviceBanner {
    width: 100%;
    height: 140px;
    background-image: url("../../assets/banner.png");
    color: #fff;
    position: relative;
}

.serviceBannerContainer {
    position: absolute;
    top: 30px;
    right: 28px;
}

.serviceBannerTexts {
    position: relative;
}

.serviceBannerBold {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.serviceBannerRegular {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 400;
}

.serviceBannerSemiBold {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    word-spacing: 6px;
}

.serviceBannerButton {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 700;
    width: 130px;
    height: 23px;
    text-align: center;
    line-height: 23px;
    border: 1px solid #fff;
    margin: 10px auto 0;
    cursor: pointer;
}

.serviceBannerButton:hover {
    background-color: #fff;
    color: #b62323;
}

.detailsContainer {
    position: relative;
    background-color: #fff;
}

.detailsPaint {
    z-index: -1;
    width: 487px;
    height: 484px;
    position: absolute;
    bottom: -160px;
    left: -85px;
    background-image: url("../../assets/bg-paint.png");
}

.detailsText {
    color: #2e2e2e;
    padding: 40px 24px 30px;
    position: relative;
}

.detail {
    margin-bottom: 12px;
}

.detailsProp {
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

.detailsValue {
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}

.detailsValue:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 1200px) {
    .Description {
        width: 770px;
        margin-bottom: 50px;
    }

    .container {
        flex-direction: column;
        margin-top: 20px;
    }

    .leftSide {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .rightSide {
        width: 100%;
        display: inline-flex;
        gap: 0 30px;
    }

    .serviceBanner {
        width: 285px;
    }

    .detailsContainer {
        width: 455px;
        box-shadow: 0 0 500px 0px rgb(0 0 0 / 50%);
    }

    .detailsText {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        gap: 12px;
    }

    .detail {
        margin-bottom: 0;
    }

    .detailsPaint {
        bottom: -150px;
        left: -80px;
    }
}

@media only screen and (max-width: 800px) {
    .Description {
        width: 90%;
        margin-bottom: 32px;
    }

    .container {
        display: block;
    }

    .leftSide {
        width: 100%;
        margin-bottom: 32px;
    }

    .desc {
        margin-bottom: 32px;
    }

    .FAQTitle {
        margin-bottom: 0;
    }

    .help {
        line-height: normal;
        gap: 10%;
        height: auto;
    }

    .helpText {
        width: 40%;
        margin-right: 0;
    }

    .helpButton {
        width: 50%;
        line-height: 42px;
        font-size: 10px;
    }

    .rightSide {
        width: auto;
        display: block;
        gap: 0;
    }

    .serviceBanner {
        margin: 0 auto;
    }

    .serviceBannerButton {
        width: 100%;
        height: 35px;
        line-height: 35px;
        font-size: 20px;
    }

    .detailsContainer {
        width: 285px;
        margin: 0 auto;
    }

    .detailsText {
        display: block;
        padding: 20px 25px 15px;
        gap: 0;
    }

    .detail {
        margin-bottom: 5px;
    }
}