.Description {
    width: 1170px;
    margin: auto;
    position: relative;
    margin-bottom: 500px;
}

.container {
    display: inline-flex;
    margin-top: 30px;
}

.leftSide {
    width: calc(1170px - 385px);
    margin-right: 100px;
}

.desc {
    color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 25px;
}

.rightSide {
    width: 285px;
}

.serviceBanner {
    width: 100%;
    height: 140px;
    background-image: url("../../assets/banner.png");
    color: #fff;
    position: relative;
}

.serviceBannerContainer {
    position: absolute;
    top: 30px;
    right: 28px;
}

.serviceBannerTexts {
    position: relative;
}

.serviceBannerBold {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
}

.serviceBannerRegular {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 400;
}

.serviceBannerSemiBold {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    word-spacing: 6px;
}

.serviceBannerButton {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 700;
}