.Description {
    width: 1170px;
    margin: auto;
    position: relative;
    margin-bottom: 500px;
}

.container {
    display: inline-flex;
    margin-top: 30px;
}

.leftSide {
    width: calc(1170px - 385px);
    margin-right: 100px;
}

.desc {
    color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 25px;
}

.rightSide {
    width: 285px;
}

.serviceBanner {
    width: 100%;
    height: 140px;
    background-image: url("../../assets/banner.png");
}