.BC {
    width: 100%;
    height: 35px;
    background-image: url("../../assets//breadcrumbs-bg.png");
    z-index: -1;
}

.BCContents {
    width: 1170px;
    height: 100%;
    line-height: 35px;
    margin: auto;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.BCContents a, .BCContents a:link, .BCContents a:visited, .BCContents a:active {
    text-decoration: none;
    color: #000;
}

.BCContents a:hover {
    color: #b62323;
}