.accordion {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 671px;
}

.accordionItem {
    border-bottom: 1px solid #d7d7d7;
}

@media only screen and (max-width: 1200px) {
    .accordion {
        width: 100%;
    }
}