.Menu {
    width: 100%;
    background-color: #fff;
    z-index: -1;
}

.MenuContents {
    width: 1170px;
    margin: auto;
    position: relative;
}

.bar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cat:nth-child(1) {
    padding-left: 0px;
}

.cat {
    padding: 0 18px;
    cursor: pointer;
    height: 58px;
    display: inline-flex;
    border-bottom: 3px solid #fff;
}

.cat:hover {
    border-bottom: 3px solid #dc363d;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: auto;
}

.arrow {
    height: 12px;
    margin-left: 8px;
}

@media only screen and (max-width: 1200px) {
    .MenuContents {
        width: 770px;
    }
}

@media only screen and (max-width: 800px) {
    .Menu {
        display: none;
    }
}