.opened .icon {
    transform: rotate(180deg);
}

.opened .inner {
    max-height: 1000px;
}

.opened .content {
    opacity: 1;
    transform: translateY(0);
}

.line {
    height: 53px;
    line-height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #2e2e2e;
}

.icon {
    width: 16px;
    height: 16px;
    transition: transform 0.3s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../../assets/arrow.svg");
}

.inner {
    max-height: 0;
    overflow: hidden;
    transition: max-height 500ms ease-in-out;
    z-index: 1;
    position: relative;
}

.content {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 250ms linear;
}

.text {
    white-space: pre-line;
    font-family: myriad-pro, sans-serif;
    font-weight: 400;
    padding-right: 16px;
    font-style: normal;
    font-size: 12px;
    color: #2e2e2e;
    margin-bottom: 16px;
}