.TopBar {
    height: 184px;
    width: 100%;
    background-image: url("../../assets/topbar-bg.png");
    background-size: cover;
    background-position: center;
}

.content {
    width: 1170px;
    margin: auto;
    position: relative;
}

.logo {
    margin-top: 28px;
    margin-bottom: 27px;
    margin-right: 115px;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
}

.Search {
    display: inline-block;
    vertical-align: top;
    margin-top: 23px;
    margin-bottom: 22px;
}

.Search input {
    height: 50px;
    width: 252px;
    padding: 0 16px;
    font: 400 13px 'Ubuntu', sans-serif;
    border: none;
    outline: none;
}

.MagnifyingGlass {
    margin-top: 23px;
    margin-bottom: 22px;
    padding: 18px 16px 14px 16px;
    border: 1px solid #eaeaea;
    background-color: #231f20;
    display: inline-block;
    vertical-align: top;
    margin-right: 86px;
    user-select: none;
    font-size: 0;
    cursor: pointer;
}

.Account {
    display: inline-block;
    vertical-align: top;
    margin-left: 18px;
    margin-top: 32px;
    height: 33px;
    line-height: 33px;
    font-size: 13px;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
}