.TopBar {
    height: 184px;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-image: url("../../assets/topbar-bg.png");
    background-size: cover;
    background-position: center;
}

.content {
    width: 1170px;
    margin: auto;
    position: relative;
}

.logo {
    margin-top: 28px;
    margin-bottom: 27px;
    margin-right: 115px;
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    cursor: pointer;
}

.Search {
    display: inline-block;
    vertical-align: top;
    margin-top: 23px;
    margin-bottom: 22px;
}

.Search input {
    height: 50px;
    width: 252px;
    padding: 0 16px;
    font: 400 13px 'Ubuntu', sans-serif;
    border: none;
    outline: none;
}

.MagnifyingGlass {
    margin-top: 23px;
    margin-bottom: 22px;
    padding: 18px 16px 14px 16px;
    border: 1px solid #eaeaea;
    background-color: #231f20;
    display: inline-block;
    vertical-align: top;
    margin-right: 86px;
    user-select: none;
    font-size: 0;
    cursor: pointer;
}

.Account {
    display: inline-flex;
    vertical-align: top;
    margin-left: 18px;
    margin-top: 32px;
    height: 33px;
}

.AccountLink {
    margin: auto;
    width: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    font-family: myriad-pro, sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
}

.AccountLink:hover {
    color: #b62323;
}

@media only screen and (max-width: 1200px) {
    .content {
        width: 770px;
    }

    .logo {
        margin-right: 30px;
        margin-bottom: 0;
    }

    .Search {
        margin-bottom: 0;
    }

    .Search input {
        width: 193px;
    }

    .MagnifyingGlass {
        margin-right: 150px;
        margin-bottom: 0;
    }

    .Account {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 800px) {
    .content {
        display: none;
    }
}