@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url("https://use.typekit.net/vej1hjy.css");

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}