@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family:"myriad-pro";
    src:url("./assets/fonts/myriadpro-bold.otf") format("woff2");
    font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
    font-family:"myriad-pro";
    src:url("./assets/fonts/myriadpro-regular.otf") format("woff2");
    font-display:auto;font-style:normal;font-weight:400;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Main {
    width: 100%;
    position: relative;
}

.swiper-slide {
    height: auto !important;
}

.swiper-container {
    height: 100%;
}

@media only screen and (max-width: 800px) {
    .swiper-slide {
        width: auto !important;
    }
    
    .swiper-container {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    html, body {
        overflow-x: hidden;
    }
}