@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

@font-face {
    font-family:"myriad-pro";
    src:url("./assets/fonts/myriadpro-bold.otf") format("woff2");
    font-display:auto;font-style:normal;font-weight:700;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}