.footer {
    width: 100%;
    height: 571px;
    z-index: -1;
    background-image: url("../../assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    position: relative;
}

.idoSell {
    width: 101px;
    height: 23px;
    background-image: url("../../assets/idoSell.png");
    position: absolute;
    font-size: 0;
    bottom: 23px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}