.footer {
    width: 100%;
    height: 571px;
    background-image: url("../../assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    position: relative;
}

.idoSell {
    width: 101px;
    height: 23px;
    background-image: url("../../assets/idoSell.png");
    position: absolute;
    font-size: 0;
    bottom: 23px;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

.container {
    width: 1170px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 80px;
    color: #aaaaaa;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    display: inline-flex;
}

.informations {
    margin-left: 8px;
    width: calc(222px - 78px);
    padding-right: 70px;
    border-right: 1px solid #333;
}

.informationsTitle, .myAccountTitle {
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 16px;
}

.informationsText, .myAccountText {
    height: 30px;
    display: flex;
    align-items: center;
}

.informationsLink, .myAccountLink {
    cursor: pointer;
}

.informationsLink:hover, .myAccountLink:hover {
    color: #b62323;
}

.myAccount {
    margin-left: 88px;
    width: calc(313px - 192px);
    padding-right: 104px;
    border-right: 1px solid #333;
}