.footer {
    width: 100%;
    height: 571px;
    z-index: -1;
    background-image: url("../../assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    margin-top: 50px;
}