.colorImg {
    width: 65px;
    height: 65px;
    border: 1px solid #d7d7d7;
    position: relative;
    display: flex;
    overflow: hidden;
    transition: all 250ms ease-in-out;
}

.borderless {
    border: 1px solid transparent !important;
}

.colorImg img {
    max-width: 65px;
    max-height: 65px;
    display: block;
    margin: auto;
}

.notSelected {
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #dc363d;
    transform: translateY(4px);
    transition: all 250ms ease-in-out;
}

.Selected {
    transform: translateY(0px);
}